.transparent-background {
  background-color: rgba(23, 23, 232, 0.5); 
}
.txt-blu{
  color: #3777D3;
}

.rotate-90 {
  transform: rotate(-50deg);
}
.round-image {
  width: 62px;
  height: 62px;
  border-radius: 50%; /* Makes the image round */
  object-fit: cover; /* Ensures the image covers the circle without distortion */
}
