.transparent-background {
  background-color: rgba(22, 22, 85, 0.7); 
}
.txt-blu{
  color: #3777D3;
}
.bg-orange{
  background-color:#F46D21;
}
.bg-blu{
background-color: #ebf1ff8f;
}

.rotate-90 {
  transform: rotate(-50deg);
}
.round-image {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  object-fit: cover; 
}

.transparent-input {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.5); 
  color: white; 
}

.transparent-input::placeholder {
  color: white; 
  opacity: 1;   
}
.transparent-input:focus {
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7); 
  outline: none; 
}

.active {
  text-decoration: none;
  color: #F46D21; 
  border-bottom: 2px solid #007bff;
}
.navi{
  text-decoration: none;
}
.svg{
  color: white;
  background-color: white;
}
.hover-zoom {
  transition: transform 0.3s ease;
}

.hover-zoom:hover {
  transform: scale(1.5); 
}
.hover-z {
  transition: transform 0.5s ease;
}

.hover-z:hover {
  transform: scale(1.1); 
}